body{
    margin: 0px;
    padding: 0px;

    background: url('https://cdn.pixabay.com/photo/2020/10/27/07/20/computer-5689819_1280.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.first{
   
   /* border: 2px solid red;*/
       width: 300px;
    color:darkslategrey;
    margin: 23px 12px;
    padding: 12px 23px;
        font-size:50px;

}
.second{
 position: absolute;
 left: 990px;
    display: block;
    width: 600px;
    /* border: 2px brown solid;*/
    margin: 50px auto;
    text-align: center;
    top:-50px;
 
   
}
.navbar{
    display: inline-block;

}
.navbar li{
    
    display: inline-block;
    padding: 12px 12px;
    font-size:25px;
}
.container{
    border-radius: 8px;
   /* border: 2px solid red;*/
    width: 200px;
     left: 12px;
     margin: 180px 180px;
     padding: 40px 50px;
     font-size: 16px;


    }
    .karan{
      
        

        border-radius: 8px;
        padding: 25px 25px;
        margin: 10px 700px;
       
        width: 300px;
        position: relative;
        top:-150px;
        
       
    }
    
    .read{
        font-size: 10px;
        width: 100px;
            border-radius:2px;
        margin:1px 0px;
            padding:5px 3px
    }